{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ], 
  "plugins": [
    "flowtype", 
    "compat" 
  ],
  "rules": {
    "semi": [2, "never"],
    "indent": ["error", 2],
    "no-tabs": 0,
    "no-unexpected-multiline": 2,
    "compat/compat": 2
  },
  "modules": true,
  "env": { 
    "jest": true
  }
}

